@page "/weather"

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (assemblyInfo == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>@assemblyInfo</p>
}

@code {
    [Inject]
    public required IHttpClientFactory HttpFactory { get; set; }
    private HttpClient Http => HttpFactory.CreateClient("PuddleJobsAPI");

    private string? assemblyInfo;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine($"Fetching assembly information from {Http.BaseAddress}/api/Assemblies");
        assemblyInfo = await Http.GetStringAsync("api/Assemblies");
    }
}
